# Variáveis obrigatórias do Discord
DISCORD_TOKEN=seu_token_do_bot_aqui
DISCORD_CHANNEL_ID=id_do_canal_onde_as_mensagens_sao_enviadas # Lembre de dar permissão ao bot quando adicioná-lo no seu servidor!

# Variável da IA (Google Gemini)
GEMINI_API_KEY=sua_chave_da_api_do_gemini
GEMINI_MODEL=gemini-3.5-flash # (Opcional) Modelo padrão utilizado com fallback automático

# Porta do servidor Express
PORT=3000

